doctype  html
html
    head
        title zhungfengnode.js
        style.
            body{background-color: red;}
    body
        h1.title.title2#id1(name='zfpx',age='6') zfpx
        input(name='username',type='text',value='myusername')